nav {
    width: 100vw;
    height: 52px;
    display: flex;
    padding: 8px;
    align-items: center;
}

.logo {
    height: 96px;
}

.navbar ul li a{
    font-size: 1.8rem;
}

.presentation figure img {
    width: 400px;
    height: 460px;
}

.about-me-exp {
    font-size: 7rem;
}

.pres-exp {
    font-size: 8rem;
}

.skills p {
    font-size: 5.5rem;
}

.skills ul {
    font-size: 3rem;
}

.other-skills, .other-skills-list {
    margin-top: 120px;
}

.h1 {
    font-size: 6rem;
}

.contact {
    overflow: hidden;
}

.h2 {
    height: 105%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    font-size: 10rem;
    transition: transform 0.5s;
}

.contact a {
    height: 100%;
    display: flex;
    align-items: center;
    transition: scale 0.5s;
    transition: transform 0.5s, scale 0.5s;
}

.contact a figure {
    transition: -moz-box-shadow 0.5s, -webkit-box-shadow 0.5s, box-shadow 0.5s, -moz-border-radius 0.5s, -webkit-border-radius 0.5s, border-radius 0.5s;
}

.contact:hover .h2 {
    transform: translateY(-105%);
}

.contact:hover a {
    transform: translateY(-105%);
}

.contact figure:hover {
    -moz-box-shadow: 10px 10px 5px #23222779;
    -webkit-box-shadow: 10px 10px 5px #23222779;
    box-shadow: 10px 10px 5px #23222779;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
}